* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

body {
  font-family: "JetBrains Mono", Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #385273, #283746);
  color: #DCEBFA;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
